* { box-sizing: border-box; }

body {
    margin: 0;
    color: white;
    text-align: center;
}

.App {
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7); /* Tint color */
    background-blend-mode: multiply;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0;
    background-color: rgb(17, 17, 17);

}


.content {
    flex-grow: 2;
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    margin: auto;
    /* border: solid red 1px; */

    /* display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 50% 20% 30%;
    grid-template-areas: 
      "quote quote quote" 
      "yes . no"
      ". play ."; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.quote {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.btn-container {
    display: flex;
}

.btn-container * {
    margin: 1.5rem;
}

button {
    color: white;
    width: 125px;
    height: 125px;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(54, 106, 204);
}

button:hover {
    cursor: pointer;
}

.play-btn {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.correct {
    background-color: rgb(5, 153, 0);
}

.wrong {
    background-color: rgb(184, 0, 0);
}

.neutral {
    background-color: rgb(92, 92, 92);
}

